.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.skills {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .skill {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  h3 {
    margin-bottom: 8px;
  }
  .skillBar {
    width: 25vw;
    height: 10px;
    background-color: gray;
    border-radius: 5px;
    position: relative;
    @media screen and (max-width: 1024px) {
        width: 75vw;
    }
  }
  
  .progressBar {
    height: 100%;
    border-radius: 5px;
  }
  